<div class="card mb-3"">
    <div class="row g-0">
        <div class="col-md-4 float-right">
            <div class="card-title">
                <a href="">Card Title</a> 
            </div>
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>