{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="faq-overlay"></div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <h1 class="header-font text-white text-center">Frequently Asked Questions</h1>
            </div>
            <div class="col-12 col-md-6 text-white">
                <p class="faq-question pt-2 mb-0">What if I haven't played Dungeons and Dragons before?</p>
                <p class="faq-answer">
                    Thats no problem at all! The best way to learn is by playing and hiring an experienced dungeon master is a great way to gently introduce you to the system without you needing to learn all of the rules. I provide all the things you will need to play the adventure (including free dice). All you need is a great attitude and a willingness to learn.
                </p>
                <p class="faq-question pt-2 mb-0">Should I choose a one shot adventure or an ongoing campaign?</p>
                <p class="faq-answer">
                    A one-shot adventure typically lasts 3 to 4 hours and is designed for 3 - 6 players, focusing on just a single short story. If you are brand new to D&D or want something fun for you and your friends to do then a one-shot is ideal. If you are want an ongoing campaign that will last take into scope a much larger adventure and can sometimes run for years! It requires more time and prep on my part and a commitment to a larger number of sessions.
                </p>
                <p class="faq-question pt-2 mb-0">What kind of gameplay materials do you use?</p>
                <p class="faq-answer">
                    If we meet in real life then I have a large whiteboard battle map to draw things on and small coloured tokens to show where the players and enemies are. Some people have small custom models made and painted but that is a rabbit hole I can't afford to go down!
                </p>
                <p class="faq-question pt-2 mb-0">Do you use any online system?</p>
                <p class="faq-answer">
                    Absolutely. In these uncertain times it offers flexibility to play with friends around the globe. I use Roll20 which stores all the battle maps, character sheets and dice rolls. Its fairly simple to use and a brief tutorial on how it works will be provided during the session also.
                </p>
                <p class="faq-question pt-2 mb-0">Where do you operate?</p>
                <p class="faq-answer">
                    I currently live in Brighton and will happily travel for a one-shot adventure but for ongoing campaigns I recommend either playing online or being based down south.
                </p>
                <p class="faq-question pt-2 mb-0">Do you charge for travelling?</p>
                <p class="faq-answer">
                    If I need to travel for more than an hour, or if the cost of travelling exceeds a certain amount then yes but I tend to take it on a case by case basis.
                </p>
            </div>
            <div class="col-12 col-md-6 text-white">
                <p class="faq-question pt-2 mb-0">Do you do special events?</p>
                <p class="faq-answer">
                    Definitely! D&D is a great game to play for a birthday party, coporate event, stag dos and hen dos or any other event you can possibly think of!
                </p>
                <p class="faq-question pt-2 mb-0">How old do my children need to be to play?</p>
                <p class="faq-answer">
                    I would say 12 is the youngest age to start playing full Dungeons and Dragons in regards to being able to have the attention span to sit down for several hours and concentrate on the game. Its fully possible to run for younger children with a slightly watered down rules system and a shorter one-shot adventure around 1 - 2 hours
                </p>
                <p class="faq-question pt-2 mb-0">Do you use published or custom modules?</p>
                <p class="faq-answer">
                    You can choose any published module and I will happily run it for you or I can create something specifically for you based on what sort of thing you want to do. There are a huge amount of published adventures out there to choose from so if you like you can always ask for help deciding or just let me know what style of game you want to play and I can make sure the module is tailored to you.
                </p>
                <p class="faq-question pt-2 mb-0">What qualifications do you have for this?</p>
                <p class="faq-answer">
                    Theres no Dungeon Master school out there so I haven't got a certificate of qualification or anything like that. I have played and run a huge amount of games since I was about 12 years old though. Being a player, I have been involved in games that I didn't really enjoy and they taught me what makes a game fun for players. I also have a huge amount of experience writing and performing comedy (I even won an award in the Brighton Fringe for one of my shows) so I am very good at improvising on the fly and weaving that seamlessly into games.
                </p>
                <p class="faq-question pt-2 mb-0">Do you teach Dungeon Mastering?</p>
                <p class="faq-answer">
                    One hundred percent yes! There aren't nearly enough good DMs out there and I love introducing the skill set to people. Contact me about a one to one session and we can definitely work something out
                </p>
                <p class="faq-question pt-2 mb-0">Do you dress up in costume?</p>
                <p class="faq-answer">
                    Traditionally no but I am a huge fan of dressing up in general. If your group thinks it would be fun to dress up as your characters I will encourage that and join in on the fun!
                </p>
            </div>
        </div>
    </div>

{% endblock %}