{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-10 offset-1 my-auto">
                <h3 class="display-4 fantasy-font text-white text-center">Professional Dungeon Master Services</h2>
                <h1 class="display-4 header-font text-white text-center">WHO DO YOU WANT TO BE?</h1>
                <p class="text-white text-center">Hire a professional DM for your friends in a safe environment</p>
                <div class="my-5 text-center">
                    <h4>
                        <a href="" class="how-it-works-button btn btn-lg rounded-0 text-uppercase py-3">How It Works</a>
                        <a href="{% url 'booking' %}" class="book-now-button btn btn-lg rounded-0 text-uppercase py-3 mr-5">Book Your Game</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row intro">
            <div class="col-12 col-sm-4 text-center p-4">
                <div class="intro-icon"><i class="fas fa-book-reader fa-lg"></i></div>
                <div class="intro-title header-font">Learn to play</div>
                <div class="intro-text">
                    <p>If you've never played Dungeons and Dragons, or any roleplaying game before, you can learn the rules in the comfort of your own home or anywhere in the world via zoom.</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-4">
                <div class="intro-icon"><i class="fas fa-dice-d20 fa-lg"></i></div>
                <div class="intro-title header-font">Everything included</div>
                <div class="intro-text">
                    <p>Our service is all inclusive. Maps, books, character sheets and dice are all provided as necessary, as well as access to any online platforms used for playing</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-4">
                <div class="intro-icon"><i class="fas fa-user-tie fa-lg"></i></div>
                <div class="intro-title header-font">Expert DM</div>
                <div class="intro-text">
                    <p>With over 20 years experience of role playing games, as well as teaching and performing on stage, you can relax and enjoy an entertaining game.</p>
                </div>
            </div>
        </div>
    </div>
    <span class="anchor" id="meet-your-dm-section"></span>
    <div class="container-fluid bio" >
        <div class="row py-3">
            <div class="col-md-4 d-none d-md-block p-5">
                <img src="../../media/james.jpg" class="rounded-circle img-fluid" alt="James">
            </div>
            <div class="col-xs-12 col-md-8 my-auto">
                <h2 class="header-font bio-title text-white">Meet the James Master</h2>
                <div class="d-md-none p-5">
                    <img src="../../media/james.jpg" class="rounded-circle img-fluid" alt="James">
                </div>
                <p class="text-white">My name is James! I've played Dungeons and Dragons since I was 11 years old and have played it avidly since, as well as a huge amount of other table top roleplaying games too.</p>
                <p class="text-white">I have been a maths teacher and a stand up comedian, as well as a childrens performer and have introduced countless people to the world of roleplaying.</p>
                <p class="text-white">I also have a full DBS and specialise in teaching teenagers and their friends how to play roleplaying games.</p>
            </div>
        </div>
    </div>
    <span class="anchor" id="services-section"></span>
    <div class="container-fluid services py-3">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="header-font bio-title">Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-hat-wizard fa-lg"></i></div>
                    <div class="intro-title header-font">Introduction to D&D</div>
                    <div class="intro-text">
                        <p>Learn how to play Dungeons and Dragons in an interactive and fun way. You will learn how to understand a character sheet, about the different races and classes, familiarise yourselves with the basic rules and go on your first adventure. We will go through the three different tiers of gameplay (exploration, social interaction and combat).</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Pregenerated Characters</li>
                                <li>4-5 hour session</li>
                                <li>Up to 6 players</li>
                                <li>£20 per player per session</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-dungeon fa-lg"></i></div>
                    <div class="intro-title header-font">One-Shot Adventure</div>
                    <div class="intro-text">
                        <p>If you are already familiar with the rules of D&D, then this 4-hour session is for you. Choose from any published module, create a custom adventure, or take a chance and let me choose for you based on your character choices. Use pre-generated characters or I will work with you to create your own during the first session.</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Pregenerated or custom characters</li>
                                <li>4-5 hour session</li>
                                <li>Up to 6 players</li>
                                <li>£20 per player per session</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-dragon fa-lg"></i></div>
                    <div class="intro-title header-font">Ongoing Campaign</div>
                    <div class="intro-text">
                        <p>Are you looking for a regular, ongoing campaign for your group but can't find a DM? I will work with you to plan a full campaign based on published modules or custome materials. Full campaigns can take a while and require prep work, so a minimum number of sessions will be required based on the campaign.</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Custom Characters</li>
                                <li>4-5 hour session (longer sessions available)</li>
                                <li>Up to 6 players</li>
                                <li>£15 per player per session</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bio">
        <div class="row py-3">
            <div class="col-12 my-auto text-center">
                <h2 class="header-font bio-title text-white">The James Master Blog</h2>
            </div>
        </div>
        <div class="row">
            {% for post in blog_posts %}
                <div class="col-md-12 col-lg-4">
                    <div class="card mb-4">
                        <img src="{{ post.image_url }}" alt="{{ post.image }}" class="card-img-top">
                        <div class="card-body">
                            <h2 class="card-title header-font">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="card-text">{{post.body|slice:":200"|safe }}...</p>
                            <p><a href="{% url 'post_detail' post.id  %}" class="btn btn-black border border-black rounded-0 header-font">Read More &rarr;</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}