{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid services py-3">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="header-font bio-title">Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-hat-wizard fa-lg"></i></div>
                    <div class="intro-title header-font">Introduction to D&D</div>
                    <div class="intro-text">
                        <p>Learn how to play Dungeons and Dragons in an interactive and fun way. You will learn how to understand a character sheet, about the different races and classes, familiarise yourselves with the basic rules and go on your first adventure. We will go through the three different tiers of gameplay (exploration, social interaction and combat).</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Pregenerated Characters</li>
                                <li>4-5 hour session</li>
                                <li>Up to 6 players</li>
                                <li>£20 per player per session</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-dungeon fa-lg"></i></div>
                    <div class="intro-title header-font">One-Shot Adventure</div>
                    <div class="intro-text">
                        <p>If you are already familiar with the rules of D&D, then this 4-hour session is for you. Choose from any published module, create a custom adventure, or take a chance and let me choose for you based on your character choices. Use pre-generated characters or I will work with you to create your own during the first session.</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Pregenerated or custom characters</li>
                                <li>4-5 hour session</li>
                                <li>Up to 6 players</li>
                                <li>£20 per player per session</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-dragon fa-lg"></i></div>
                    <div class="intro-title header-font">Ongoing Campaign</div>
                    <div class="intro-text">
                        <p>Are you looking for a regular, ongoing campaign for your group but can't find a DM? I will work with you to plan a full campaign based on published modules or custome materials. Full campaigns can take a while and require prep work, so a minimum number of sessions will be required based on the campaign.</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Custom Characters</li>
                                <li>4-5 hour session (longer sessions available)</li>
                                <li>Up to 6 players</li>
                                <li>£15 per player per session</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}