{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid py-3">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="header-font bio-title">Book Your Game</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-hat-wizard fa-lg"></i></div>
                    <div class="intro-title header-font">Introduction to D&D</div>
                    <div class="intro-text">
                        <p>Learn how to play Dungeons and Dragons in an interactive and fun way. You will learn how to understand a character sheet, about the different races and classes, familiarise yourselves with the basic rules and go on your first adventure. We will go through the three different tiers of gameplay (exploration, social interaction and combat).</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Pregenerated Characters</li>
                                <li>4-5 hour session</li>
                                <li>Up to 6 players</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                        <hr>
                        <p class="fs-3 text-center">
                            £{{ intro_cost }} Per Player
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-dungeon fa-lg"></i></div>
                    <div class="intro-title header-font">One-Shot Adventure</div>
                    <div class="intro-text">
                        <p>If you are already familiar with the rules of D&D, then this 4-hour session is for you. Choose from any published module, create a custom adventure, or take a chance and let me choose for you based on your character choices. Use pre-generated characters or I will work with you to create your own during the first session.</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Pregenerated or custom characters</li>
                                <li>4-5 hour session</li>
                                <li>Up to 6 players</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                        <hr>
                        <p class="fs-3 text-center">
                            £{{ one_shot_cost }} Per Player
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 text-center p-3">
                <div class="p-2 border border-dark">
                    <div class="intro-icon"><i class="fas fa-dragon fa-lg"></i></div>
                    <div class="intro-title header-font">Ongoing Campaign</div>
                    <div class="intro-text">
                        <p>Are you looking for a regular, ongoing campaign for your group but can't find a DM? I will work with you to plan a full campaign based on published modules or custome materials. Full campaigns can take a while and require prep work, so a minimum number of sessions will be required based on the campaign.</p>
                        <hr>
                        <strong class="text-start">
                            <ul>
                                <li>Custom Characters</li>
                                <li>4-5 hour session (longer sessions available)</li>
                                <li>Up to 6 players</li>
                                <li>New players get dice to keep</li>
                            </ul>
                        </strong>
                        <hr>
                        <p class="fs-3 text-center">
                            £{{ campaign_cost }} Per Player
                        </p>
                        <small>You must book a minimum of six sessions</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <p class="text-muted">Please fill out the form below to start your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label fs-6 text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label fs-6 text-black px-2 w-auto">Order</legend>
                        <select name="date" id="date" class="form-group form-control form-select rounded-0" required>
                            <option value="" selected disabled hidden>Choose your session *</option>
                            {% for date in available_dates %}
                                <option value="{{ date.id }}">{{ date.date }} at {{ date.time }}</option>
                            {% endfor %}
                        </select>
                        <select name="service" id="service" class="form-group form-control form-select rounded-0" required>
                            <option value="" selected disabled hidden>Choose your service *</option>
                            <option value="IN">Introduction to D&D</option>
                            <option value="OS">One-Shot Adventure</option>
                            <option value="OC">Ongoing Campaign</option>
                        </select>
                        <p class="small text-info my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Until lockdown regulations change, all sessions will be online.</span>
                        </p>
                        <select name="location" id="location" class="form-group form-control form-select rounded-0" required>
                            <option value="" selected disabled hidden>Choose your location *</option>
                            <option value="IRL" disabled>In Real Life</option>
                            <option value="ONL">Online</option>
                        </select>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="my-auto me-3"><strong>Players:</strong></span>
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0" 
                                            data-item_id="players" id="decrement-qty_players">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input text-center" type="number"
                                        name="players" value="2" min="2" max="7"
                                        data-item_id="players"
                                        id="id_qty_players">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="players" id="increment-qty_players">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ order_form.comment | as_crispy_field }}
                    </fieldset>

                    <div class="submit-button text-right mt-5 mb-2">                    
						<a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Cancel</span>
						</a>
						<button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Go To Checkout</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
                        </button>
					</div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include './includes/quantity_input_script.html' %}
{% endblock %}