{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid py-3">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="header-font bio-title">Checkout</h2>
            </div>
        </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-lg-6 mb-5 card">
                {% if date %}
                    <hr>
                    <h2 class="text-muted header-font mb-2">Order Summary</h2>
                    <hr>
                    <div class="row">
                        <p>The date you have booked is <strong>{{ date.date }} at {{ date.time }}</strong> for <strong>{{ players }} Players</strong></p>
                        {% if service == 'IN' %}
                            {% include './includes/intro.html' %}
                        {% elif service == 'OS' %}
                            {% include './includes/one-shot.html' %}
                        {% elif service == 'OC' %}
                            {% include './includes/ongoing-campaign.html' %}
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if location == 'IRL' %}
                            <p>
                                The session will happen in person. The Dungeon Master will be in contact to arrange a location that works and is appropriate for all the players.
                            </p>
                            <hr>
                        {% elif location == 'ONL' %}
                            <p>The session will happen on a Zoom call using Roll20. You can create a free account for Roll20 here:</p>
                            <a href="https://app.roll20.net/account/create/" target="_blank" class="link-dark text-center fs-3">
                                <i class="fas fa-dice-d20 fa-lg"></i>
                                <p>Roll20</p>
                            </a>
                            <hr>
                        {% endif %}
                        <div class="row mb-4">
                            <div class="col-6 text-start my-auto">
                                <a href="javascript:history.back()" class="btn btn-black rounded-0">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="font-weight-bold">Back To Booking</span>
                                </a>
                            </div>
                            <div class="col-6 text-end">
                                <span class="fs-3 text-center">Total Cost: £{{ cost }}</span>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <p class="lead mb-5">You have not selected your game</p>
                    <a href="{% url 'booking' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Back To Booking</span>
                    </a>
                {% endif %}
                <hr class="my-0">
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <input type="hidden" name="full_name" id="full_name" value="{{ full_name }}">
                    <input type="hidden" name="email" id="email" value="{{ email }}">
                    <input type="hidden" name="phone_number" id="phone_number" value="{{ phone_number }}">
                    <input type="hidden" name="date_id" id="date_id" value="{{ date_id }}">
                    <input type="hidden" name="service" id="service" value="{{ service }}">
                    <input type="hidden" name="location" id="location" value="{{ location }}">
                    <input type="hidden" name="players" id="players" value="{{ players }}">
                    <input type="hidden" name="comment" id="comment" value="{{ comment }}">
                    <input type="hidden" name="stripe-submit" id="stripe-submit" value="stripe-submit">
                    <fieldset class="px-3">
                        <legend class="fieldset-label fs-6 text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        
                    </fieldset>

                    <div class="submit-button text-end mt-5 mb-2">
                        <p id="cost_paragraph" class="fs-6 text-danger my-0 text-end">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong id="cost_warning">£{{ cost }}</strong></span>
                        </p>
						<a href="{% url 'home' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Cancel</span>
						</a>
						<button name="submit-button" id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
                        </button>
                        
						
                        
					</div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'booking/js/stripe_elements.js' %}"></script>
    
{% endblock %}