{% extends "base.html" %} 
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid title-bar">
        <div class="row py-5">
            <div class="col-12">
                <h1 class="header-font text-white text-center">The James Master Blog</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 left">
                {% for post in blog_posts %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                        <p class="card-text">{{post.body|slice:":200"|safe }}</p>
                        <p><a href="{% url 'post_detail' post.id  %}" class="btn btn-primary">Read More &rarr;</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include './includes/blog-sidebar.html' %}
        </div>
    </div>

{% endblock %}