<div class="intro-icon text-center"><i class="fas fa-hat-wizard fa-lg"></i></div>
<div class="intro-title header-font text-center">You have booked:</div>
<div class="intro-title header-font text-center">Introduction to D&D</div>
<div class="intro-text">
    <p>You will learn how to play Dungeons and Dragons in an interactive and fun way, how to understand a character sheet, the different races and classes, familiarise yourselves with the basic rules and go on your first adventure. We will go through the three different tiers of gameplay (exploration, social interaction and combat).</p>
    <hr>
    <p>We will have a lot of different characters for you to choose from but if there is something in particular you would like to play then make sure to contact the Dungeon Master ahead of time so they can prepare it for you!</p>
    <p>Your session will last around 4-5 hours and if it is your first time you will also get a set of dice to keep!</p>
    <p class="small text-info my-0 fs-6">
        <span class="icon">
            <i class="fas fa-exclamation-circle"></i>
        </span>
        <span>Due to COVID restrictions the dice offer is on hold until we can resume playing games in real life!</span>
    </p>
    <hr>
</div>