<div class="intro-icon text-center"><i class="fas fa-dragon fa-lg"></i></div>
<div class="intro-title header-font text-center">You have booked:</div>
<div class="intro-title header-font text-center">Ongoing Campaign</div>
<div class="intro-text">
    <p>You have booked a brand new full time Dungeon Master. I will work with you to plan a full campaign based on published modules or custome materials. Full campaigns can take a while and require prep work, so a minimum number of sessions will be required based on the campaign.</p>
    <p>Please note that this booking is for the first session. We can then book in further sessions through the website based on your availability but a minimum of six sessions are required. Let me know how many you are planning so we can round off the campaign in a nice little bow!</p>
    <p>Your sessions will last around 4-5 hours and if it is your first time you will also get a set of dice to keep!</p>
    <p class="fs-6 text-info my-0">
        <span class="icon">
            <i class="fas fa-exclamation-circle"></i>
        </span>
        <span>Due to COVID restrictions the dice offer is on hold until we can resume playing games in real life!</span>
    </p>
    <hr>
</div>